* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@media (max-width: 991px) {
  .sidebar {
    /* background-color: rgba(re); */
  }
}

/* Header */
/* 햄버거 아이콘 흰색으로 */
.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

@media (min-width: 992px) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: gray;
}

.dropdown-menu .dropdown-item:hover {
  color: gray;
}

/* 기본적으로 .dropdown-toggle::after 숨기기 */
.nav-link.dropdown-toggle::after {
  display: none;
}

/* 모바일 및 태블릿 화면에서 .dropdown-toggle::after 표시 */
@media (max-width: 991.98px) {
  .nav-link.dropdown-toggle::after {
    display: inline-block;
  }
  .sidebar {
    background-color: rgb(74, 74, 74);
    backdrop-filter: blur(10px);
  }
}

.dropdown-item:hover {
  background-color: rgb(127, 129, 129);
}

body.offcanvas-open {
  padding-right: 15px;
}

/* footer */
.list-unstyled > li > a {
  text-decoration: none;
  color: gray;
}

.list-inline-item > a > i:hover,
.list-unstyled > li > a:hover {
  color: rgb(226, 226, 226);
}
